<a href="https://colab.research.google.com/github/agostina-arga/tps-pii-colab_copia/blob/main/Diccionario_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Listas de alumnos
estudiantes_5d = [
   ("Alurralde, Solange Stefania","D","02/04/2007"),
   ("Alvarado, Ludmila Del Milagro","D","06/09/2006"),
   ("Angel, Camila Juliana","D","07/03/2007"),
   ("Arenas, Lucas Gabriel","D","26/06/2007"),
   ("Caseres, Maria Antonia","D","01/07/2006"),
   ("Castillo, Paulina Milagros","D","01/06/2007"),
   ("Correa Segovia, Hugo Mariano","D","04/12/2006"),
   ("D Elia, Alvaro Tadeo","D","27/08/2006"),
   ("Flores, Victoria Agustina","D","12/12/2006"),
   ("Geronimo Soriano, Lizzie Amaya","D","20/01/2007"),
   ("GUZMAN, ANGÉLICA MORENA","D","11/04/2007"),
   ("Guzman, Jazmin Esmeralda Belen","D","31/07/2006"),
   ("Jaime, Anita Maria Belen","D","19/04/2007"),
   ("Lacour Polo, Nazarena","D","19/12/2005"),
   ("Lascano Guanca, Marcelo Fabricio","D","17/02/2006"),
   ("Lezcano, Celia Morena","D","01/07/2005"),
   ("Martinez, Tomas Andres","D","22/03/2007"),
   ("PORTELLA VALDIVIA, PEDRO FRANCISCO","D","24/01/2007"),
   ("Retamal Cisneros, Zacarias Josue","D","24/02/2007"),
   ("Rosales, Francisco Gabriel","D","14/11/2006"),
   ("Salem Barba, Mahia","D","14/10/2005"),
   ("Soto Camara, Agustin Ignacio","D","07/11/2005"),
   ("Villalba, Irina","D","09/09/2006"),
   ("Voltolini, Emanuel Tobias","D","17/09/2006"),
   ("Zalazar, Santino Stefano","D","30/09/2006")
]

estudiantes_5c=[
    ("ABUD LASPIUR, LOURDES MARIEL","C","05/12/2006"),
    ("Amador, Luana Micaela","C","09/12/2006"),
    ("Anaquin, Leonardo Ezequiel","C","06/09/2005"),
    ("Araoz Sanchez, Lautaro Nahuel","C","28/12/2005"),
    ("Argañaraz, Agostina Abril","C","11/10/2006"),
    ("Barrera, Matias Ezequiel","C","27/02/2007"),
    ("Barrozo Vedia, Joaquin Nicolas","C","15/04/2006"),
    ("Bettinelli, Valentino","C","12/07/2006"),
    ("Bracamonte Martinez, Salvador","C","02/11/2005"),
    ("Colque Rivero, Ariana Zoe Del Valle","C","27/12/2006"),
    ("Diaz, Dulce Maitena","C","11/12/2006"),
    ("FIGUEROA, SANTINO JOSUE","C","12/05/2007"),
    ("Flores Cardozo, Agustina Tiara","C","18/03/2006"),
    ("Gallo, Octavio Ismael","C","04/08/2006"),
    ("Galvan, Lourdes Yamila","C","19/08/2005"),
    ("Giangreco, Vitto Tomasso","C","21/03/2007"),
    ("Grancara, Martina Luna","C","15/12/2006"),
    ("Guanca, Sara Elizabeth","C","17/01/2007"),
    ("Lopez, Victoria Constanza","C","12/11/2007"),
    ("Mamani Garrido, Rosario Agostina","C","24/10/2006"),
    ("Marinaro, Martin Ezequiel","C","03/11/2006"),
    ("Merluzzi Dagum, Ignacio","C","22/12/2005"),
    ("Messina, Martina","C","13/07/2005"),
    ("RASUK, KARIM", "C","13/07/2007"),
    ("Rios, Lucia Magali","C","22/09/2006"),
    ("Sanchez Flores, Matías Agustín","C","15/02/2007"),
    ("Scarano, Renato Marcelo","C","06/12/2006"),
    ("Sierra, Lucas Mauricio","C","03/04/2005"),
    ("Tapia, Martin Gabriel","C","30/05/2006"),
    ("Vilte, Mia Antonella Alondra","C","10/09/2005"),
    ("Virgillito, Katya Milena","C","19/06/2007")
]

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Reemplaza todos los valores del nombre por los que obtengas del método title(). De esta manera las listas quedaran con los datos más homogéneos.

In [ ]:
estudiantes = []
for i in range(len(estudiantes_5c)):
  nombre, divi, fecha_nac= estudiantes_5c[i]
  estudiantes.append((nombre.title(),divi,fecha_nac))

for i in range(len(estudiantes_5d)):
  nombre, divi, fecha_nac= estudiantes_5d[i]
  estudiantes.append((nombre.title(),divi,fecha_nac))

for estudiante in estudiantes:
  print(estudiante)

('Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('Figueroa, Santino Josue', 'C', '12/05/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Messina, Martina', 'C', '13/07/2005')
('Rasuk, Karim', 'C', '13/07/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')
('Sanchez Flores, Matías Agustín', 'C', '15/02/2007')
('Scarano, Renato Marcelo', 'C', '06/12/2006')
('Sierra, Lucas Mauricio', 'C', '03/04/2005')
('Tapia, Martin Gabriel', 'C', '30/05/2006')
('Vilte, Mia Antonella Alondra', 'C', '10/09/2005')
('Virgillito, Katya Milena', 'C', '19/06/2007')
('Alurralde, Solange Stefania', 'D', '02/04/2007')
('Alvarado, Ludmila Del Milagro', 'D', '06/09/2006')
('Angel, Camila Juliana', 'D', '07/03/2007')
('Arenas, Lucas Gabriel', 'D', '26/06/2007')
('Caseres, Maria Antonia', 'D', '01/07/2006')
('Castillo, Paulina Milagros', 'D', '01/06/2007')
('Correa Segovia, Hugo Mariano', 'D', '04/12/2006')
('D Elia, Alvaro Tadeo', 'D', '27/08/2006')
('Flores, Victoria Agustina', 'D', '12/12/2006')
('Geronimo Soriano, Lizzie Amaya', 'D', '20/01/2007')
('Guzman, Angélica Morena', 'D', '11/04/2007')
('Guzman, Jazmin Esmeralda Belen', 'D', '31/07/2006')
('Jaime, Anita Maria Belen', 'D', '19/04/2007')
('Lacour Polo, Nazarena', 'D', '19/12/2005')
('Lascano Guanca, Marcelo Fabricio', 'D', '17/02/2006')
('Lezcano, Celia Morena', 'D', '01/07/2005')
('Martinez, Tomas Andres', 'D', '22/03/2007')
('Portella Valdivia, Pedro Francisco', 'D', '24/01/2007')
('Retamal Cisneros, Zacarias Josue', 'D', '24/02/2007')
('Rosales, Francisco Gabriel', 'D', '14/11/2006')
('Salem Barba, Mahia', 'D', '14/10/2005')
('Soto Camara, Agustin Ignacio', 'D', '07/11/2005')
('Villalba, Irina', 'D', '09/09/2006')
('Voltolini, Emanuel Tobias', 'D', '17/09/2006')
('Zalazar, Santino Stefano', 'D', '30/09/2006')

In [ ]:
for i in range(len(estudiantes_5d)):
  estudiantes_5d[i] = list(estudiantes_5d[i])
  estudiantes_5d[i][0] = estudiantes_5d[i][0].title()
for i in range(len(estudiantes_5c)):
  estudiantes_5c[i] = list(estudiantes_5c[i])
  estudiantes_5c[i][0] = estudiantes_5c[i][0].title()

for i in estudiantes_5d:
  print(i)

for i in estudiantes_5c:
  print(i)

['Alurralde, Solange Stefania', 'D', '02/04/2007']
['Alvarado, Ludmila Del Milagro', 'D', '06/09/2006']
['Angel, Camila Juliana', 'D', '07/03/2007']
['Arenas, Lucas Gabriel', 'D', '26/06/2007']
['Caseres, Maria Antonia', 'D', '01/07/2006']
['Castillo, Paulina Milagros', 'D', '01/06/2007']
['Correa Segovia, Hugo Mariano', 'D', '04/12/2006']
['D Elia, Alvaro Tadeo', 'D', '27/08/2006']
['Flores, Victoria Agustina', 'D', '12/12/2006']
['Geronimo Soriano, Lizzie Amaya', 'D', '20/01/2007']
['Guzman, Angélica Morena', 'D', '11/04/2007']
['Guzman, Jazmin Esmeralda Belen', 'D', '31/07/2006']
['Jaime, Anita Maria Belen', 'D', '19/04/2007']
['Lacour Polo, Nazarena', 'D', '19/12/2005']
['Lascano Guanca, Marcelo Fabricio', 'D', '17/02/2006']
['Lezcano, Celia Morena', 'D', '01/07/2005']
['Martinez, Tomas Andres', 'D', '22/03/2007']
['Portella Valdivia, Pedro Francisco', 'D', '24/01/2007']
['Retamal Cisneros, Zacarias Josue', 'D', '24/02/2007']
['Rosales, Francisco Gabriel', 'D', '14/11/2006']
['Salem Barba, Mahia', 'D', '14/10/2005']
['Soto Camara, Agustin Ignacio', 'D', '07/11/2005']
['Villalba, Irina', 'D', '09/09/2006']
['Voltolini, Emanuel Tobias', 'D', '17/09/2006']
['Zalazar, Santino Stefano', 'D', '30/09/2006']
['Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006']
['Amador, Luana Micaela', 'C', '09/12/2006']
['Anaquin, Leonardo Ezequiel', 'C', '06/09/2005']
['Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005']
['Argañaraz, Agostina Abril', 'C', '11/10/2006']
['Barrera, Matias Ezequiel', 'C', '27/02/2007']
['Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006']
['Bettinelli, Valentino', 'C', '12/07/2006']
['Bracamonte Martinez, Salvador', 'C', '02/11/2005']
['Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006']
['Diaz, Dulce Maitena', 'C', '11/12/2006']
['Figueroa, Santino Josue', 'C', '12/05/2007']
['Flores Cardozo, Agustina Tiara', 'C', '18/03/2006']
['Gallo, Octavio Ismael', 'C', '04/08/2006']
['Galvan, Lourdes Yamila', 'C', '19/08/2005']
['Giangreco, Vitto Tomasso', 'C', '21/03/2007']
['Grancara, Martina Luna', 'C', '15/12/2006']
['Guanca, Sara Elizabeth', 'C', '17/01/2007']
['Lopez, Victoria Constanza', 'C', '12/11/2007']
['Mamani Garrido, Rosario Agostina', 'C', '24/10/2006']
['Marinaro, Martin Ezequiel', 'C', '03/11/2006']
['Merluzzi Dagum, Ignacio', 'C', '22/12/2005']
['Messina, Martina', 'C', '13/07/2005']
['Rasuk, Karim', 'C', '13/07/2007']
['Rios, Lucia Magali', 'C', '22/09/2006']
['Sanchez Flores, Matías Agustín', 'C', '15/02/2007']
['Scarano, Renato Marcelo', 'C', '06/12/2006']
['Sierra, Lucas Mauricio', 'C', '03/04/2005']
['Tapia, Martin Gabriel', 'C', '30/05/2006']
['Vilte, Mia Antonella Alondra', 'C', '10/09/2005']
['Virgillito, Katya Milena', 'C', '19/06/2007']

2. Genera una lista de diccionarios con los datos de las listas, donde las claves de los mismos serán:
- "apellido"
- "nombre"
- "curso"
- "division"
- "feha_de_nacimiento"

Muestra la información generada.

In [ ]:
lista_dic = []
for estudiante in estudiantes:
  nombre_completo,division,fecha_nac = estudiante
  apellido,nombre = nombre_completo.split(",")
  nombre = nombre.strip()
  diccionario = {}
  diccionario["nombre"] = nombre
  diccionario["apellido"] = apellido
  diccionario["división"] = division
  diccionario["curso"] = 5
  diccionario["fecha de nacimiento"] = fecha_nac
  lista_dic.append(diccionario)

for estudiante in lista_dic:
   print(estudiante)

{'nombre': 'Lourdes Mariel', 'apellido': 'Abud Laspiur', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '05/12/2006'}
{'nombre': 'Luana Micaela', 'apellido': 'Amador', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '09/12/2006'}
{'nombre': 'Leonardo Ezequiel', 'apellido': 'Anaquin', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '06/09/2005'}
{'nombre': 'Lautaro Nahuel', 'apellido': 'Araoz Sanchez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '28/12/2005'}
{'nombre': 'Agostina Abril', 'apellido': 'Argañaraz', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '11/10/2006'}
{'nombre': 'Matias Ezequiel', 'apellido': 'Barrera', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '27/02/2007'}
{'nombre': 'Joaquin Nicolas', 'apellido': 'Barrozo Vedia', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '15/04/2006'}
{'nombre': 'Valentino', 'apellido': 'Bettinelli', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/07/2006'}
{'nombre': 'Salvador', 'apellido': 'Bracamonte Martinez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '02/11/2005'}
{'nombre': 'Ariana Zoe Del Valle', 'apellido': 'Colque Rivero', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '27/12/2006'}
{'nombre': 'Dulce Maitena', 'apellido': 'Diaz', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '11/12/2006'}
{'nombre': 'Santino Josue', 'apellido': 'Figueroa', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/05/2007'}
{'nombre': 'Agustina Tiara', 'apellido': 'Flores Cardozo', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '18/03/2006'}
{'nombre': 'Octavio Ismael', 'apellido': 'Gallo', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '04/08/2006'}
{'nombre': 'Lourdes Yamila', 'apellido': 'Galvan', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '19/08/2005'}
{'nombre': 'Vitto Tomasso', 'apellido': 'Giangreco', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '21/03/2007'}
{'nombre': 'Martina Luna', 'apellido': 'Grancara', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '15/12/2006'}
{'nombre': 'Sara Elizabeth', 'apellido': 'Guanca', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '17/01/2007'}
{'nombre': 'Victoria Constanza', 'apellido': 'Lopez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/11/2007'}
{'nombre': 'Rosario Agostina', 'apellido': 'Mamani Garrido', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '24/10/2006'}
{'nombre': 'Martin Ezequiel', 'apellido': 'Marinaro', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '03/11/2006'}
{'nombre': 'Ignacio', 'apellido': 'Merluzzi Dagum', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '22/12/2005'}
{'nombre': 'Martina', 'apellido': 'Messina', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '13/07/2005'}
{'nombre': 'Karim', 'apellido': 'Rasuk', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '13/07/2007'}
{'nombre': 'Lucia Magali', 'apellido': 'Rios', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '22/09/2006'}
{'nombre': 'Matías Agustín', 'apellido': 'Sanchez Flores', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '15/02/2007'}
{'nombre': 'Renato Marcelo', 'apellido': 'Scarano', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '06/12/2006'}
{'nombre': 'Lucas Mauricio', 'apellido': 'Sierra', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '03/04/2005'}
{'nombre': 'Martin Gabriel', 'apellido': 'Tapia', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '30/05/2006'}
{'nombre': 'Mia Antonella Alondra', 'apellido': 'Vilte', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '10/09/2005'}
{'nombre': 'Katya Milena', 'apellido': 'Virgillito', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '19/06/2007'}
{'nombre': 'Lourdes Mariel', 'apellido': 'Abud Laspiur', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '05/12/2006'}
{'nombre': 'Luana Micaela', 'apellido': 'Amador', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '09/12/2006'}
{'nombre': 'Leonardo Ezequiel', 'apellido': 'Anaquin', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '06/09/2005'}
{'nombre': 'Lautaro Nahuel', 'apellido': 'Araoz Sanchez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '28/12/2005'}
{'nombre': 'Agostina Abril', 'apellido': 'Argañaraz', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '11/10/2006'}
{'nombre': 'Matias Ezequiel', 'apellido': 'Barrera', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '27/02/2007'}
{'nombre': 'Joaquin Nicolas', 'apellido': 'Barrozo Vedia', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '15/04/2006'}
{'nombre': 'Valentino', 'apellido': 'Bettinelli', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/07/2006'}
{'nombre': 'Salvador', 'apellido': 'Bracamonte Martinez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '02/11/2005'}
{'nombre': 'Ariana Zoe Del Valle', 'apellido': 'Colque Rivero', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '27/12/2006'}
{'nombre': 'Dulce Maitena', 'apellido': 'Diaz', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '11/12/2006'}
{'nombre': 'Santino Josue', 'apellido': 'Figueroa', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/05/2007'}
{'nombre': 'Agustina Tiara', 'apellido': 'Flores Cardozo', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '18/03/2006'}
{'nombre': 'Octavio Ismael', 'apellido': 'Gallo', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '04/08/2006'}
{'nombre': 'Lourdes Yamila', 'apellido': 'Galvan', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '19/08/2005'}
{'nombre': 'Vitto Tomasso', 'apellido': 'Giangreco', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '21/03/2007'}
{'nombre': 'Martina Luna', 'apellido': 'Grancara', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '15/12/2006'}
{'nombre': 'Sara Elizabeth', 'apellido': 'Guanca', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '17/01/2007'}
{'nombre': 'Victoria Constanza', 'apellido': 'Lopez', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '12/11/2007'}
{'nombre': 'Rosario Agostina', 'apellido': 'Mamani Garrido', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '24/10/2006'}
{'nombre': 'Martin Ezequiel', 'apellido': 'Marinaro', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '03/11/2006'}
{'nombre': 'Ignacio', 'apellido': 'Merluzzi Dagum', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '22/12/2005'}
{'nombre': 'Martina', 'apellido': 'Messina', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '13/07/2005'}
{'nombre': 'Karim', 'apellido': 'Rasuk', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '13/07/2007'}
{'nombre': 'Lucia Magali', 'apellido': 'Rios', 'división': 'C', 'curso': 5, 'fecha de nacimiento': '22/09/2006'}

In [ ]:
for i in range(len(estudiantes_5d)):
  apellido, nombre = estudiantes_5d[i][0].split(',')
  estudiantes_5d[i] = {
      'apellido' : apellido.strip(),
      'nombre' : nombre.strip(),
      'curso' : '5D',
      'division' : estudiantes_5d[i][1],
      'fecha de nacimiento' : estudiantes_5d [i][2]

  }

for i in estudiantes_5d:
  print(i)

for i in range(len(estudiantes_5c)):
  apellido, nombre = estudiantes_5c[i][0].split(',')
  estudiantes_5c[i] = {
      'apellido' : apellido.strip(),
      'nombre' : nombre.strip(),
      'curso' : '5C',
      'division' : estudiantes_5c[i][1],
      'fecha de nacimiento' : estudiantes_5c [i][2]
  }

for i in estudiantes_5c:
  print(i)

{'apellido': 'Alurralde', 'nombre': 'Solange Stefania', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '02/04/2007'}
{'apellido': 'Alvarado', 'nombre': 'Ludmila Del Milagro', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '06/09/2006'}
{'apellido': 'Angel', 'nombre': 'Camila Juliana', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '07/03/2007'}
{'apellido': 'Arenas', 'nombre': 'Lucas Gabriel', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '26/06/2007'}
{'apellido': 'Caseres', 'nombre': 'Maria Antonia', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '01/07/2006'}
{'apellido': 'Castillo', 'nombre': 'Paulina Milagros', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '01/06/2007'}
{'apellido': 'Correa Segovia', 'nombre': 'Hugo Mariano', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '04/12/2006'}
{'apellido': 'D Elia', 'nombre': 'Alvaro Tadeo', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '27/08/2006'}
{'apellido': 'Flores', 'nombre': 'Victoria Agustina', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '12/12/2006'}
{'apellido': 'Geronimo Soriano', 'nombre': 'Lizzie Amaya', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '20/01/2007'}
{'apellido': 'Guzman', 'nombre': 'Angélica Morena', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '11/04/2007'}
{'apellido': 'Guzman', 'nombre': 'Jazmin Esmeralda Belen', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '31/07/2006'}
{'apellido': 'Jaime', 'nombre': 'Anita Maria Belen', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '19/04/2007'}
{'apellido': 'Lacour Polo', 'nombre': 'Nazarena', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '19/12/2005'}
{'apellido': 'Lascano Guanca', 'nombre': 'Marcelo Fabricio', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '17/02/2006'}
{'apellido': 'Lezcano', 'nombre': 'Celia Morena', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '01/07/2005'}
{'apellido': 'Martinez', 'nombre': 'Tomas Andres', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '22/03/2007'}
{'apellido': 'Portella Valdivia', 'nombre': 'Pedro Francisco', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '24/01/2007'}
{'apellido': 'Retamal Cisneros', 'nombre': 'Zacarias Josue', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '24/02/2007'}
{'apellido': 'Rosales', 'nombre': 'Francisco Gabriel', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '14/11/2006'}
{'apellido': 'Salem Barba', 'nombre': 'Mahia', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '14/10/2005'}
{'apellido': 'Soto Camara', 'nombre': 'Agustin Ignacio', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '07/11/2005'}
{'apellido': 'Villalba', 'nombre': 'Irina', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '09/09/2006'}
{'apellido': 'Voltolini', 'nombre': 'Emanuel Tobias', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '17/09/2006'}
{'apellido': 'Zalazar', 'nombre': 'Santino Stefano', 'curso': '5D', 'division': 'D', 'fecha de nacimiento': '30/09/2006'}
{'apellido': 'Abud Laspiur', 'nombre': 'Lourdes Mariel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '05/12/2006'}
{'apellido': 'Amador', 'nombre': 'Luana Micaela', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '09/12/2006'}
{'apellido': 'Anaquin', 'nombre': 'Leonardo Ezequiel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '06/09/2005'}
{'apellido': 'Araoz Sanchez', 'nombre': 'Lautaro Nahuel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '28/12/2005'}
{'apellido': 'Argañaraz', 'nombre': 'Agostina Abril', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '11/10/2006'}
{'apellido': 'Barrera', 'nombre': 'Matias Ezequiel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '27/02/2007'}
{'apellido': 'Barrozo Vedia', 'nombre': 'Joaquin Nicolas', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '15/04/2006'}
{'apellido': 'Bettinelli', 'nombre': 'Valentino', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '12/07/2006'}
{'apellido': 'Bracamonte Martinez', 'nombre': 'Salvador', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '02/11/2005'}
{'apellido': 'Colque Rivero', 'nombre': 'Ariana Zoe Del Valle', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '27/12/2006'}
{'apellido': 'Diaz', 'nombre': 'Dulce Maitena', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '11/12/2006'}
{'apellido': 'Figueroa', 'nombre': 'Santino Josue', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '12/05/2007'}
{'apellido': 'Flores Cardozo', 'nombre': 'Agustina Tiara', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '18/03/2006'}
{'apellido': 'Gallo', 'nombre': 'Octavio Ismael', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '04/08/2006'}
{'apellido': 'Galvan', 'nombre': 'Lourdes Yamila', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '19/08/2005'}
{'apellido': 'Giangreco', 'nombre': 'Vitto Tomasso', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '21/03/2007'}
{'apellido': 'Grancara', 'nombre': 'Martina Luna', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '15/12/2006'}
{'apellido': 'Guanca', 'nombre': 'Sara Elizabeth', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '17/01/2007'}
{'apellido': 'Lopez', 'nombre': 'Victoria Constanza', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '12/11/2007'}
{'apellido': 'Mamani Garrido', 'nombre': 'Rosario Agostina', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '24/10/2006'}
{'apellido': 'Marinaro', 'nombre': 'Martin Ezequiel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '03/11/2006'}
{'apellido': 'Merluzzi Dagum', 'nombre': 'Ignacio', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '22/12/2005'}
{'apellido': 'Messina', 'nombre': 'Martina', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '13/07/2005'}
{'apellido': 'Rasuk', 'nombre': 'Karim', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '13/07/2007'}
{'apellido': 'Rios', 'nombre': 'Lucia Magali', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '22/09/2006'}
{'apellido': 'Sanchez Flores', 'nombre': 'Matías Agustín', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '15/02/2007'}
{'apellido': 'Scarano', 'nombre': 'Renato Marcelo', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '06/12/2006'}
{'apellido': 'Sierra', 'nombre': 'Lucas Mauricio', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '03/04/2005'}
{'apellido': 'Tapia', 'nombre': 'Martin Gabriel', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '30/05/2006'}
{'apellido': 'Vilte', 'nombre': 'Mia Antonella Alondra', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '10/09/2005'}
{'apellido': 'Virgillito', 'nombre': 'Katya Milena', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '19/06/2007'}

3. Genera un diccionario en python, en donde la clave sea cada nombre que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

Mostrá la informacion generada

In [ ]:
lista_nombres = []
for estudiante in estudiantes:
  nombre_completo = estudiante[0].replace(",",",").split()
  lista_nombres.extend(nombre_completo)

ocurrencias_nombres = {}
for nombre in lista_nombres:
  if nombre in ocurrencias_nombres.keys():
    ocurrencias_nombres[nombre] += 1
  else:
    ocurrencias_nombres[nombre] = 1

for nombre,ocurrencia in ocurrencias_nombres.items():
  print(f"El nombre {nombre} apareció {ocurrencia} veces")

El nombre Abud apareció 2 veces
El nombre Laspiur, apareció 2 veces
El nombre Lourdes apareció 4 veces
El nombre Mariel apareció 2 veces
El nombre Amador, apareció 2 veces
El nombre Luana apareció 2 veces
El nombre Micaela apareció 2 veces
El nombre Anaquin, apareció 2 veces
El nombre Leonardo apareció 2 veces
El nombre Ezequiel apareció 6 veces
El nombre Araoz apareció 2 veces
El nombre Sanchez, apareció 2 veces
El nombre Lautaro apareció 2 veces
El nombre Nahuel apareció 2 veces
El nombre Argañaraz, apareció 2 veces
El nombre Agostina apareció 4 veces
El nombre Abril apareció 2 veces
El nombre Barrera, apareció 2 veces
El nombre Matias apareció 2 veces
El nombre Barrozo apareció 2 veces
El nombre Vedia, apareció 2 veces
El nombre Joaquin apareció 2 veces
El nombre Nicolas apareció 2 veces
El nombre Bettinelli, apareció 2 veces
El nombre Valentino apareció 2 veces
El nombre Bracamonte apareció 2 veces
El nombre Martinez, apareció 2 veces
El nombre Salvador apareció 2 veces
El nombre Colque apareció 2 veces
El nombre Rivero, apareció 2 veces
El nombre Ariana apareció 2 veces
El nombre Zoe apareció 2 veces
El nombre Del apareció 2 veces
El nombre Valle apareció 2 veces
El nombre Diaz, apareció 2 veces
El nombre Dulce apareció 2 veces
El nombre Maitena apareció 2 veces
El nombre Figueroa, apareció 2 veces
El nombre Santino apareció 2 veces
El nombre Josue apareció 2 veces
El nombre Flores apareció 2 veces
El nombre Cardozo, apareció 2 veces
El nombre Agustina apareció 2 veces
El nombre Tiara apareció 2 veces
El nombre Gallo, apareció 2 veces
El nombre Octavio apareció 2 veces
El nombre Ismael apareció 2 veces
El nombre Galvan, apareció 2 veces
El nombre Yamila apareció 2 veces
El nombre Giangreco, apareció 2 veces
El nombre Vitto apareció 2 veces
El nombre Tomasso apareció 2 veces
El nombre Grancara, apareció 2 veces
El nombre Martina apareció 4 veces
El nombre Luna apareció 2 veces
El nombre Guanca, apareció 2 veces
El nombre Sara apareció 2 veces
El nombre Elizabeth apareció 2 veces
El nombre Lopez, apareció 2 veces
El nombre Victoria apareció 2 veces
El nombre Constanza apareció 2 veces
El nombre Mamani apareció 2 veces
El nombre Garrido, apareció 2 veces
El nombre Rosario apareció 2 veces
El nombre Marinaro, apareció 2 veces
El nombre Martin apareció 3 veces
El nombre Merluzzi apareció 2 veces
El nombre Dagum, apareció 2 veces
El nombre Ignacio apareció 2 veces
El nombre Messina, apareció 2 veces
El nombre Rasuk, apareció 2 veces
El nombre Karim apareció 2 veces
El nombre Rios, apareció 2 veces
El nombre Lucia apareció 2 veces
El nombre Magali apareció 2 veces
El nombre Sanchez apareció 1 veces
El nombre Flores, apareció 1 veces
El nombre Matías apareció 1 veces
El nombre Agustín apareció 1 veces
El nombre Scarano, apareció 1 veces
El nombre Renato apareció 1 veces
El nombre Marcelo apareció 1 veces
El nombre Sierra, apareció 1 veces
El nombre Lucas apareció 1 veces
El nombre Mauricio apareció 1 veces
El nombre Tapia, apareció 1 veces
El nombre Gabriel apareció 1 veces
El nombre Vilte, apareció 1 veces
El nombre Mia apareció 1 veces
El nombre Antonella apareció 1 veces
El nombre Alondra apareció 1 veces
El nombre Virgillito, apareció 1 veces
El nombre Katya apareció 1 veces
El nombre Milena apareció 1 veces

In [ ]:
dic_estudiantes = {}
for i in estudiantes_5d:
  if i ['nombre'] in dic_estudiantes:
    dic_estudiantes[i['nombre']] += 1
  else:
    dic_estudiantes[i['nombre']] = 1

for i in estudiantes_5c:
  if i ['nombre'] in dic_estudiantes:
    dic_estudiantes[i['nombre']] +=1
  else:
    dic_estudiantes[i['nombre']] =1

for i in dic_estudiantes:
  print(i, dic_estudiantes[i])

TypeError: tuple indices must be integers or slices, not str

4. Genera un diccionario en python, en donde la clave sea cada apellido que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

In [ ]:
dic_estudiantes = {}
for i in estudiantes_5d:
  if i['apellido'] in dic_estudiantes:
    dic_estudiantes[i['apellido']] += 1
  else:
    dic_estudiantes[i['apellido']] = 1

for i in estudiantes_5c:
  if i ['apellido'] in dic_estudiantes:
    dic_estudiantes[i['apellido']] += 1
  else:
    dic_estudiantes[i['apellido']] = 1

for i in dic_estudiantes:
  print(i, dic_estudiantes[i])

Alurralde 1
Alvarado 1
Angel 1
Arenas 1
Caseres 1
Castillo 1
Correa Segovia 1
D Elia 1
Flores 1
Geronimo Soriano 1
Guzman 2
Jaime 1
Lacour Polo 1
Lascano Guanca 1
Lezcano 1
Martinez 1
Portella Valdivia 1
Retamal Cisneros 1
Rosales 1
Salem Barba 1
Soto Camara 1
Villalba 1
Voltolini 1
Zalazar 1
Abud Laspiur 1
Amador 1
Anaquin 1
Araoz Sanchez 1
Argañaraz 1
Barrera 1
Barrozo Vedia 1
Bettinelli 1
Bracamonte Martinez 1
Colque Rivero 1
Diaz 1
Figueroa 1
Flores Cardozo 1
Gallo 1
Galvan 1
Giangreco 1
Grancara 1
Guanca 1
Lopez 1
Mamani Garrido 1
Marinaro 1
Merluzzi Dagum 1
Messina 1
Rasuk 1
Rios 1
Sanchez Flores 1
Scarano 1
Sierra 1
Tapia 1
Vilte 1
Virgillito 1

5. Solicita al usuario que ingrese un apellido y muestra  a todos los estudiantes con ese apellido.

In [ ]:
apellido = input("Ingrese un apellido:  ").title()
for i in estudiantes_5d:
  if apellido in i ['apellido']:
    print(i)

for i in estudiantes_5c:
  if apellido in i ['apellido']:
    print(i)

Ingrese un apellido:  Argañaraz
{'apellido': 'Argañaraz', 'nombre': 'Agostina Abril', 'curso': '5C', 'division': 'C', 'fecha de nacimiento': '11/10/2006'}

6. Solicita al usuario que ingrese un nombre y muestra a todos los estudiantes con el nombre ingresado.

In [ ]:
nombre = input("Ingrese un nombre: ").title()
for i in estudiantes_5d:
  if nombre in i ['nombre']:
    print(i)
for i in estudiantes_5c:
  if nombre in i ['nombre']:
    print(i)

Ingrese un nombre: Agostina Abril
{'apellido': 'Argañaraz', 'nombre': 'Agostina Abril', 'curso': '5D', 'division': 'C', 'fecha de nacimiento': '11/10/2006', 'división': 'D'}

7. Busca el diccionario con tu información dentro de la lista y cámbiate de división, de tal manera que si estas en 5C, con el cambio quedes en 5D y viceversa.

In [ ]:
nombre = input("Ingrese su nombre:  ").title()
for i in estudiantes_5c:
  if nombre in i['nombre']:
    i.update({'división': 'D'})
    i.update({'curso': '5D'})
    print(i)

for i in estudiantes_5d:
  if nombre in i['nombre']:
    i.update({'división': 'C'})
    i.update({'curso': '5C'})
    print(i)

Ingrese su nombre:  Agostina
{'apellido': 'Argañaraz', 'nombre': 'Agostina Abril', 'curso': '5D', 'division': 'C', 'fecha de nacimiento': '11/10/2006', 'división': 'D'}
{'apellido': 'Mamani Garrido', 'nombre': 'Rosario Agostina', 'curso': '5D', 'division': 'C', 'fecha de nacimiento': '24/10/2006', 'división': 'D'}

8. Ordenar la lista alfabeticamente por nombre. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [ ]:
print("""
1.Ordenar alfabeticamente por apellido de manera ascendente
2.Ordenar alfabeticamente por apellido de manera descendente
""")
opcion = int(input("Ingrese una opción:  "))
if opcion ==1:
  estudiantes_5d.sort(key=lambda x: x['nombre'])
else:
  estudiantes_5d.sort(key=lambda x: x ['nombre'], reverse=True)


if opcion ==1:
  estudiantes_5c.sort(key=lambda x: x['nombre'])
else:
  estudiantes_5c.sort(key=lambda x: x ['nombre'], reverse=True)

1.Ordenar alfabeticamente por apellido de manera ascendente
2.Ordenar alfabeticamente por apellido de manera descendente

Ingrese una opción:  1

In [ ]:
nombre = input("Ingrese su nombre").title()
apellido = input("Ingrese su apellido: ").title()
i = 0
while i<len(lista_dic):
 if lista_dic[i]["apellido"] == apellido and lista_dic["nombre"] == nombre:
   break
 else:
   i += 1
if lista_dic[i]:
   lista_dict[i]["division"] = "C" if lista_dict[i]["division"] == "0" else "D"
print(lista_dic[i])

Ingrese su nombreAgostina Abril
Ingrese su apellido: Argañaraz

TypeError: list indices must be integers or slices, not str

9. Ordenar la lista alfabeticamente por apellido. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [ ]:

print("""

      MENÚ DE ESTUDIANTES 5C
      a - Ordenar de manera ascendente
      b - Ordenar la lista de manera descendente
      Ingrese una opción:""")
op = input().lower()
if op =='a':
  estudiantes_5c.sort()
elif op =='b':
  estudiantes_5c.sort(reverse= True)
else:
  print("La opción ingresada no es correcta")

for estudiante in estudiantes_5c:
  print(estudiante)


print("""

      MENÚ DE ESTUDIANTES 5D
      a - Ordenar de manera ascendente
      b - Ordenar la lista de manera descendente
      Ingrese una opción:""")
op = input().lower()
if op =='a':
  estudiantes_5d.sort()
elif op =='b':
  estudiantes_5d.sort(reverse= True)
else:
  print("La opción ingresada no es correcta")

for estudiante in estudiantes_5d:
  print(estudiante)

      MENÚ DE ESTUDIANTES 5C
      a - Ordenar de manera ascendente
      b - Ordenar la lista de manera descendente
      Ingrese una opción:
a

TypeError: '<' not supported between instances of 'dict' and 'dict'

10. Ordena la lista por fecha de nacimiento, de manera ascendente y descendente.

In [ ]:
from types import LambdaType
print("""
1.Ordenar por fecha de nacimiento de manera ascendente
2.Ordenar por fecha de nacimiento de manera descendente
""")
opcion= int (input("Ingrese una opcion:  "))
if opcion ==1:
  estudiantes_5d.sort(key=lambda x: x['fecha_de_nacimiento'])
else:
  estudiantes_5d.sort(key=lambda x: x['fecha de nacimiento'], reverse= True)

if opcion ==1:
  estudiantes_5c.sort(key=lambda x: x['fecha de nacimiento'])
else:
  estudiantes_5c.sort(key=lambda x: x['fecha de nacimiento'], reverse= True)

print("""
1.Salida en lista
2.Salisa en diccionario
""")

opcion_b = int(input("Ingrese una opcion:  "))
if opcion_b ==1:
  print("Estudiante 5D: ", [estudiante['fecha de nacimiento'] for estudiante in estudiantes_5d])
  print("Estudiante 5C: ", [estudiante['fecha de nacimiento'] for estudiante in estudiantes_5c])
else:
  for estudiante in estudiantes_5d:
    print(estudiante)
  for estudiante in estudiantes_5c:
    print(estudiantes)

1.Ordenar por fecha de nacimiento de manera ascendente
2.Ordenar por fecha de nacimiento de manera descendente

Ingrese una opcion:  1

KeyError: 'fecha_de_nacimiento'

11. Generar una estuctura de diccionario anidado en donde la clave sea el nombre del estudiante y el valor sea un diccionario con los datos del mismo, de la siguiente manera:




```python
estudiantes = {
    "Juan Perez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "15/03/2006"
    },
    "Maria Gomez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "22/07/2006"
    },
    "Carlos Lopez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "05/10/2006"
    }
}
```

In [ ]:
estudiantes_5d_1= {}
for i in estudiantes_5d:
  key = i ['apellido'] + ',' + i['nombre']
  estudiantes_5d_1[key] = {
      'año': 2024,
      'división': ['division'],
      'fecha de nacimiento': i['fecha_de_nacimiento']
  }

for i in estudiantes_5d_1:
  print(i, estudiantes_5c_01[i])

estudiantes_5c_1 = {}
for i in estudiantes_5c:
  key = i ['apellido'] + ',' + i['nombre']
  estudiantes_5c_1[key] = {
      'año':2024,
        'división': ['division'],
      'fecha de nacimiento': i['fecha_de_nacimiento']
  }

for i in estudiantes_5c_1:
  print(i, estudiantes_5c_1[i])

KeyError: 'fecha_de_nacimiento'